
.h2{
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    color: #1a411b;
}

.button {
    
    background-color: #1a411b;
    color: white;
    padding: 10px 20px;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    width: 200px;
}

.table{

    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    max-width: 600px
}

.container {
    padding: 20px;
    
}
